# Database
DATABASE_URL="mysql://USER:PASSWORD@localhost:3306/office_stock_db"

# NextAuth
AUTH_SECRET="your-secret-key-min-32-chars-change-this"
AUTH_URL="http://localhost:3000"

# Optional: For production
NEXTAUTH_URL="https://your-domain.com"
